

@media only screen and (max-width: 768px){
    html{
        height: 100%;
    }
    body { background-image: url(Images/jar.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            background-position: center;
            font-family: 'Courier New', Courier, monospace; 
    }

    #wrapper {
        padding: 0%;
        margin-top: 0%;
        height: 100%;
    }

    h1 { display: block; text-align: center;
         margin-left: auto; margin-right: auto;
         color: #0cf3e6;
    }
    .none {display: none;

    }
    #noon {display: none;

    }
    #moon {position: absolute; top: 10px;
            display: block;
            height: 120px; width: auto;
            margin-top: 20%;

    }
    #herent {display: none;

    }
    #here { position: absolute; top: 110px;
            left: 28px;
            color:aliceblue;
            font-size: 24px;
            font-weight: bold;

    }
    .frame{ position: absolute; 
             margin-top: 1px;  
             width: 320px;
             height: 350px;
             margin-left: 20px;
             display: none;
    }
    img {height: 120px; width: 320px;
        margin-left: auto; margin-right: auto;
        display: block;
        margin-top: 370px;
    }
    p {position: absolute; top: 435px;
        left: 50px;
        font-size: 14px;

    }
    #year2{ position:absolute; top: 65px; left: 270px;
        background-color: #58375A; display: block; padding-top: 5px; padding-bottom: 5px;
        color: #f2f2f2; font-size: medium; border-color: #f2f2f2;
        text-align: center;
    }
    a{text-decoration: none; color: #f2f2f2; border-style:solid;
        padding: 5px; 
    }
}
